---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% assign author = site.data.members[post.author] %}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <p class="post-meta">{{ post.date | date: "%-d / %m / %Y" }}{% if post.author %} • <a href="https://github.com/{{ author.github }}">{{ author.name }}</a>{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>

        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="text-center">
    <ul class="pagination">
      <li>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
        {% else %}
        <span>&laquo;</span>
        {% endif %}
      </li>

      {% for page in (1..paginator.total_pages) %}
      <li>
        {% if page == paginator.page %}
        <a href="#" class="active">{{ page }}</a>
        {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      </li>
      {% endfor %}

      <li>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        {% else %}
        <span>&raquo;</span>
        {% endif %}
      </li>
    </ul>
  </div>
  {% endif %}

</div>
