<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div id="facebook" class="col-md-6">
        <div class="social-box">
          <div id="fb-root"></div>
          <div class="fb-page" data-href="https://www.facebook.com/santa.catarina.elephants" data-width="520" data-height="607" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/santa.catarina.elephants">
                <a href="https://www.facebook.com/santa.catarina.elephants">PHPSC - Grupo de Usuários</a>
              </blockquote>
            </div>
          </div>
        </div><!-- /.social-box-->
      </div>
      <div id="twitter" class="col-md-6">
        <div class="social-box">
          <a class="twitter-timeline" href="https://twitter.com/PHP_SC" data-widget-id="671777378184638464">Tweets by @PHP_SC</a>
        </div><!-- /.social-box-->
      </div>
    </div>
  </div>

  <div class="copy">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul class="social-media-list list-inline">
            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}" title="Github">
                <i class="fa fa-github"></i> <span>{{ site.github_username }}</span>
              </a>
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                <i class="fa fa-twitter"></i> <span>{{ site.twitter_username }}</span>
              </a>
            </li>
            {% endif %}

            {% if site.linkedin_id %}
            <li>
              <a href="https://www.linkedin.com/company/{{ site.linkedin_id }}" title="Linkedin">
                <i class="fa fa-linkedin"></i> <span>{{ site.linkedin_id }}</span>
              </a>
            </li>
            {% endif %}

            {% if site.facebook_username %}
            <li>
              <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
                <i class="fa fa-facebook"></i> <span>{{ site.facebook_username }}</span>
              </a>
            </li>
            {% endif %}

            <li>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">
              <i class="fa fa-rss"></i> <span>subscribe via RSS</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-8 text-md-right">
          {{ site.description }}
        </div>
      </div>
    </div>
  </div>
</footer>

{% if page.comments %}
<!-- start disqus -->
<script>
  var disqus_shortname = 'phpsc';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<!-- end disqus -->
{% endif %}

<!-- start Jquery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- end Jquery -->

<!-- start bootstrap -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- end bootstrap -->

<!-- start jsSocial -->
<script src="//cdn.rawgit.com/tabalinas/jssocials/v0.2.0/dist/jssocials.min.js"></script>
<!-- end jsSocial -->

<!-- start Main -->
<script src=" {{ '/js/main.js' | prepend: site.baseurl  | prepend: site.url }}"></script>
<!-- end Main -->
