<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="social-media-list list-inline">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" title="Github">
              <i class="fa fa-github"></i> <span>{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
              <i class="fa fa-twitter"></i> <span>{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_id %}
          <li>
            <a href="https://www.linkedin.com/company/{{ site.linkedin_id }}" title="Linkedin">
              <i class="fa fa-linkedin"></i> <span>{{ site.linkedin_id }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
              <i class="fa fa-facebook"></i> <span>{{ site.facebook_username }}</span>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">
              <i class="fa fa-rss"></i> <span>subscribe via RSS</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-8">
        {{ site.description }}
      </div>
    </div>

  </div>

</footer>

{% if page.comments %}
<!-- start disqus -->
<script>
  var disqus_shortname = 'phpsc';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<!-- end disqus -->
{% endif %}

<!-- start analytics -->
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-70468787-1', 'auto');
 ga('send', 'pageview');
</script>
<!-- end analytics -->
