<nav class="navbar navbar-static-top navbar-purple">
  <div class="container">
      <div class="navbar-header">
          <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="menu-collapse">
          <ul class="nav navbar-nav">
              {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="https://phpsc-slackin.herokuapp.com/"><i class="fa fa-slack"></i> Slack</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<header class="header">
    <div class="container">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/logo_branca.png" class="logo" alt="{{ site.title }}">
        </a>
    </div><!-- /.container -->
</header>
