---
layout: default
---
{% assign author = site.data.members[page.author] %}

<div class="post">

  <div class="row">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%-d / %m / %Y" }}{% if page.author %} • <a href="https://github.com/{{ author.github }}">{{ author.name }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
  </div>

  <div class="row">
    <div id="share" class="pull-right"></div>
  </div>

  <div class="row">
    <article class="post-content">
      {{ content }}
    </article>
  </div>

  <div class="row">
    <div id="disqus_thread"></div>
  </div>
</div>